<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Index article</p>
    <div class="article">
        {% for article in articles %}
            <h1>{{article.title}}</h1>
            <p>{{article.slug}}</p>
            <p>{{article.date}}</p>
            <p>{{article.body}}</p>
        {% endfor %}
    </div>

</body>
</html>